/* Media */
/* Variables */
:root {
  --ymfseo-red: #cc1818;
  --ymfseo-green: #00a32a;
  --ymfseo-yellow: #ffb900;
  --ymfseo-blue: #2271b1;
  --ymfseo-settings-background: #fefefe;
  --ymfseo-settings-border: #dcdcde;
  --ymfseo-border-radius: 4px;
  --ymfseo-gap-primary: 20px;
}

/* Columns */
.wp-list-table th.column-ymfseo {
  width: 40px;
  text-align: center;
}
@media screen and (min-width: 782px) {
  .wp-list-table td.column-ymfseo {
    display: flex;
    justify-content: center;
  }
}
.wp-list-table td.column-ymfseo .dashicons {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: var(--ymfseo-blue);
}
@media screen and (min-width: 782px) {
  .wp-list-table td.column-ymfseo .dashicons {
    justify-content: center;
  }
}
.wp-list-table td.column-ymfseo .dashicons.good {
  color: var(--ymfseo-green);
}
.wp-list-table td.column-ymfseo .dashicons.bad {
  color: var(--ymfseo-red);
}
.wp-list-table td.column-ymfseo .dashicons.alert {
  color: var(--ymfseo-yellow);
}
.wp-list-table td.column-ymfseo .dashicons.noindex {
  color: var(--ymfseo-blue);
}
.wp-list-table td.column-ymfseo ul {
  margin: 0;
}
@media screen and (min-width: 782px) {
  .wp-list-table td.column-ymfseo ul {
    display: none;
  }
}
.wp-list-table td.column-ymfseo ul li {
  margin: 0;
}

/* Post Meta box */
#ymfseo_fields.postbox {
  /* Container */
}
#ymfseo_fields.postbox > .inside {
  padding: 12px;
  margin-top: 0;
}
#ymfseo_fields.postbox > .inside .ymfseo-post-meta-box {
  /* Container */
}
#ymfseo_fields.postbox > .inside .ymfseo-post-meta-box__container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#ymfseo_fields.postbox > .inside .ymfseo-post-meta-box {
  /* Field */
}
#ymfseo_fields.postbox > .inside .ymfseo-post-meta-box__field {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
#ymfseo_fields.postbox > .inside .ymfseo-post-meta-box__field > label {
  display: inline-block;
  font-weight: 500;
  font-size: 11px;
  line-height: 1.4;
  text-transform: uppercase;
}
#ymfseo_fields.postbox > .inside .ymfseo-post-meta-box__field textarea {
  height: auto;
}
#ymfseo_fields.postbox > .inside .ymfseo-post-meta-box__field p {
  margin: 2px 0 0 0;
  font-size: 12px;
  color: #757575;
}
#ymfseo_fields.postbox > .inside .ymfseo-post-meta-box {
  /* Checkbox */
}
#ymfseo_fields.postbox > .inside .ymfseo-post-meta-box__checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
}
#ymfseo_fields.postbox > .inside .ymfseo-post-meta-box__checkbox > span {
  display: flex;
  align-items: center;
}
#ymfseo_fields.postbox > .inside .ymfseo-post-meta-box__checkbox > span input {
  margin: 0;
}
#ymfseo_fields.postbox > .inside .ymfseo-post-meta-box details:not([open]) + details {
  margin-top: -16px;
}
#ymfseo_fields.postbox > .inside .ymfseo-post-meta-box details summary {
  margin-bottom: 10px;
  cursor: pointer;
  text-transform: uppercase;
}
#ymfseo_fields.postbox > .inside .ymfseo-post-meta-box {
  /* Tags */
}
#ymfseo_fields.postbox > .inside .ymfseo-post-meta-box__tags {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 5px 6px;
}
#ymfseo_fields.postbox > .inside .ymfseo-post-meta-box__tags > div:nth-child(odd) {
  display: flex;
  align-items: flex-start;
}
#ymfseo_fields.postbox > .inside .ymfseo-post-meta-box__tags > div:nth-child(odd) span {
  background-color: #f0f0f0;
  padding: 1px 4px 3px 4px;
  border-radius: 4px;
  display: block;
  white-space: nowrap;
}
#ymfseo_fields.postbox > .inside .ymfseo-post-meta-box__tags > div:nth-child(even) {
  overflow-wrap: anywhere;
}
#ymfseo_fields.postbox {
  /* Gutenberg fix */
}
#ymfseo_fields.postbox:has(.ymfseo-post-meta-box_gutenberg) {
  /* Header tab */
}
.components-panel__body + .edit-post-meta-boxes-area:has(#ymfseo_fields.postbox) #ymfseo_fields.postbox:has(.ymfseo-post-meta-box_gutenberg) > .postbox-header {
  border-top: none;
}
#ymfseo_fields.postbox:has(.ymfseo-post-meta-box_gutenberg) > .postbox-header h2 {
  padding: 0 16px;
  font-size: 13px;
}
#ymfseo_fields.postbox:has(.ymfseo-post-meta-box_gutenberg) {
  /* Container */
}
#ymfseo_fields.postbox:has(.ymfseo-post-meta-box_gutenberg) > .inside {
  padding: 5px 16px 16px 16px;
}
#ymfseo_fields.postbox:has(.ymfseo-post-meta-box_gutenberg) > .inside .ymfseo-post-meta-box {
  /* Checkbox */
}
#ymfseo_fields.postbox:has(.ymfseo-post-meta-box_gutenberg) > .inside .ymfseo-post-meta-box__checkbox {
  margin-top: 2px;
  gap: 10px;
}

/* Length indicator */
.ymfseo-length-indicator {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 2px;
  position: relative;
}
.ymfseo-length-indicator::after {
  content: "";
  background-color: var(--ymfseo-yellow);
  width: var(--ymfseo-indicator-width);
  max-width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}
.ymfseo-length-indicator_quick-edit {
  margin-top: 4px;
}
.ymfseo-length-indicator_term {
  margin-top: 6px;
}
.ymfseo-length-indicator.good::after {
  background-color: var(--ymfseo-green);
}
.ymfseo-length-indicator.bad::after {
  background-color: var(--ymfseo-red);
}

/* Settings Page */
html:has(.ymfseo-settings-page) {
  scroll-behavior: smooth;
}
.ymfseo-settings-page {
  /* Notice */
}
.ymfseo-settings-page .notice {
  border-radius: var(--ymfseo-border-radius);
  border-top-color: var(--ymfseo-settings-border);
  border-right-color: var(--ymfseo-settings-border);
  border-bottom-color: var(--ymfseo-settings-border);
  box-shadow: none;
}
.ymfseo-settings-page {
  /* Navigation */
}
.ymfseo-settings-page .nav-tab-wrapper {
  border-color: var(--ymfseo-settings-border);
}
.ymfseo-settings-page .nav-tab-wrapper .nav-tab {
  padding: 5px 12px 5px 6px;
  border-radius: 4px 4px 0 0;
  border-color: var(--ymfseo-settings-border);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
}
.ymfseo-settings-page .nav-tab-wrapper .nav-tab:hover {
  background-color: var(--ymfseo-settings-background);
}
.ymfseo-settings-page .nav-tab-wrapper .nav-tab-active {
  border-bottom-color: transparent;
  color: var(--ymfseo-secondary);
}
@media screen and (max-width: 782px) {
  .ymfseo-settings-page .nav-tab-wrapper .nav-tab {
    border-radius: 4px;
  }
}
.ymfseo-settings-page .nav-tab-wrapper .nav-tab .dashicons {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
.ymfseo-settings-page {
  /* Old navigation */
}
.ymfseo-settings-page__nav {
  margin: 10px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.ymfseo-settings-page__nav-item {
  background-color: var(--ymfseo-settings-background);
  padding: 6px 10px 6px 6px;
  border-radius: var(--ymfseo-border-radius);
  border: 1px solid var(--ymfseo-settings-border);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  text-decoration: none;
}
.ymfseo-settings-page__nav-item:hover {
  color: var(--ymfseo-primary);
}
.ymfseo-settings-page__nav-item.active {
  background-color: var(--ymfseo-primary);
  color: #fff;
}
.ymfseo-settings-page__nav-item .dashicons {
  margin-bottom: -1px;
  transition: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
.ymfseo-settings-page__nav-item .dashicons::before {
  transition: none;
}
.ymfseo-settings-page__nav-item .label {
  margin-top: -1px;
}
.ymfseo-settings-page {
  /* Form */
}
.ymfseo-settings-page form {
  /* Section */
}
.ymfseo-settings-page form section {
  background-color: var(--ymfseo-settings-background);
  margin-top: var(--ymfseo-gap-primary);
  border-radius: var(--ymfseo-border-radius);
  border: 1px solid var(--ymfseo-settings-border);
}
.ymfseo-settings-page form section:not(.active) {
  visibility: hidden;
  position: absolute;
  top: -200vh;
  left: -200vw;
}
.ymfseo-settings-page form section:last-of-type {
  display: none;
}
.ymfseo-settings-page form section {
  /* Title */
}
.ymfseo-settings-page form section > h2 {
  padding: var(--ymfseo-gap-primary);
  margin: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--ymfseo-secondary);
}
@media screen and (min-width: 782px) {
  .ymfseo-settings-page form section > h2 {
    scroll-margin-top: var(--ymfseo-gap-primary);
  }
}
.ymfseo-settings-page form section {
  /* Description */
}
.ymfseo-settings-page form section > p:not(.submit) {
  padding: 0 var(--ymfseo-gap-primary) var(--ymfseo-gap-primary) var(--ymfseo-gap-primary);
  margin: 0;
}
.ymfseo-settings-page form section > p:not(.submit):first-of-type {
  margin-top: -8px;
}
.ymfseo-settings-page form section > p:not(.submit):not(:last-of-type) {
  margin-bottom: -16px;
}
.ymfseo-settings-page form section {
  /* Code */
}
.ymfseo-settings-page form section code {
  padding: 2px 5px 2px;
  margin: 0;
  border-radius: 3px;
}
.ymfseo-settings-page form section {
  /* Table */
}
.ymfseo-settings-page form section .form-table {
  padding: var(--ymfseo-gap-primary);
  margin: 0;
  border-top: 1px solid var(--ymfseo-settings-border);
  display: block;
}
@media screen and (max-width: 782px) {
  .ymfseo-settings-page form section .form-table th {
    padding-bottom: 4px;
  }
  .ymfseo-settings-page form section .form-table tr:first-of-type th {
    padding-top: 0;
  }
}
.ymfseo-settings-page form section .form-table tbody {
  width: 100%;
  display: block;
}
.ymfseo-settings-page form section .form-table tbody tr {
  width: 100%;
  display: block;
}
.ymfseo-settings-page form section .form-table tbody tr th {
  flex-shrink: 0;
}
.ymfseo-settings-page form section .form-table tbody tr th label {
  display: flex;
  align-items: center;
  gap: 6px;
}
.ymfseo-settings-page form section .form-table tbody tr th label .dashicons {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
.ymfseo-settings-page form section .form-table tbody tr.sub-field th {
  font-weight: 400;
  color: #494e51;
}
@media screen and (min-width: 782px) {
  .ymfseo-settings-page form section .form-table tbody tr:has(.CodeMirror) {
    display: flex;
  }
}
.ymfseo-settings-page form section .form-table tbody tr:has(.CodeMirror) td {
  width: 100%;
  overflow-x: auto;
}
.ymfseo-settings-page form section .form-table tbody tr:has(.CodeMirror) td .CodeMirror {
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid var(--ymfseo-settings-border);
}
.ymfseo-settings-page form section .form-table tbody tr:has(.ymfseo-settings-redirects-section) {
  display: flex;
}
.ymfseo-settings-page form section .form-table tbody tr:has(.ymfseo-settings-redirects-section) td:last-of-type {
  flex: 1;
}
.ymfseo-settings-page form section {
  /* Custom save button */
}
.ymfseo-settings-page form section > .ymfseo-submit {
  padding: var(--ymfseo-gap-primary);
  border-top: 1px solid var(--ymfseo-settings-border);
  display: flex;
}
@media screen and (max-width: 782px) {
  .ymfseo-settings-page form section > .ymfseo-submit {
    justify-content: flex-end;
  }
}
.ymfseo-settings-page form {
  /* WordPress save button */
}
.ymfseo-settings-page form > .submit {
  display: none;
}
.ymfseo-settings-page {
  /* Separator grid */
}
.ymfseo-settings-page .ymfseo-settings-separator-grid {
  width: 25em;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
}
@media screen and (max-width: 782px) {
  .ymfseo-settings-page .ymfseo-settings-separator-grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}
.ymfseo-settings-page .ymfseo-settings-separator-grid__item {
  background-color: #fff;
  max-width: 50px;
  border-radius: 4px;
  border: 1px solid #8c8f94;
  aspect-ratio: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 782px) {
  .ymfseo-settings-page .ymfseo-settings-separator-grid__item {
    width: 45px;
  }
}
.ymfseo-settings-page .ymfseo-settings-separator-grid__item:has(input:checked) {
  border-color: var(--ymfseo-secondary);
  outline: 2px solid transparent;
  box-shadow: 0 0 0 1px var(--ymfseo-secondary);
}
.ymfseo-settings-page .ymfseo-settings-separator-grid__item input {
  width: 100%;
  height: 100%;
  margin: 0 !important;
  border-radius: 0;
  opacity: 0;
  position: absolute;
}
.ymfseo-settings-page .ymfseo-settings-separator-grid__item span {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  color: #2c3338;
}
.ymfseo-settings-page {
  /* Image */
}
.ymfseo-settings-page .ymfseo-settings-image-section img {
  width: 25em;
  height: auto;
  margin-bottom: 16px;
  border-radius: 6px;
}
@media screen and (max-width: 782px) {
  .ymfseo-settings-page .ymfseo-settings-image-section img {
    width: 100%;
  }
}
.ymfseo-settings-page .ymfseo-settings-image-section .action-buttons button[hidden] {
  display: none;
}
.ymfseo-settings-page {
  /* Redirects */
}
.ymfseo-settings-page .ymfseo-settings-redirects-section {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.ymfseo-settings-page .ymfseo-settings-redirects-section__grid {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.ymfseo-settings-page .ymfseo-settings-redirects-section__item {
  display: grid;
  grid-template-columns: auto 1fr auto 1fr auto;
  align-items: center;
  gap: 6px;
}
@media screen and (max-width: 782px) {
  .ymfseo-settings-page .ymfseo-settings-redirects-section__item {
    width: 100%;
    grid-template-columns: 1fr auto 1fr;
  }
}
.ymfseo-settings-page .ymfseo-settings-redirects-section__item .regex {
  padding: 0 10px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.ymfseo-settings-page .ymfseo-settings-redirects-section__item .regex input {
  margin: 0;
  justify-self: center;
}
@media screen and (max-width: 782px) {
  .ymfseo-settings-page .ymfseo-settings-redirects-section__item .regex input {
    order: 4;
  }
}
.ymfseo-settings-page .ymfseo-settings-redirects-section__item > .dashicons {
  padding-left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
.ymfseo-settings-page .ymfseo-settings-redirects-section__item > .dashicons:hover {
  cursor: pointer;
  color: var(--ymfseo-red);
}
.ymfseo-settings-page .ymfseo-settings-redirects-section .button {
  margin-bottom: 10px;
  align-self: flex-end;
}
.ymfseo-settings-page {
  /* Representative */
}
.ymfseo-settings-page tbody:has(tr.rep-type option[value=org][selected]) tr.rep-person {
  display: none;
}
.ymfseo-settings-page tbody:has(tr.rep-type option[value=person][selected]) tr.rep-org {
  display: none;
}

/* SEO Health */
.ymfseo-seo-health .health-check-accordion h4.health-check-accordion-heading .dashicons {
  margin-right: 10px;
}
.ymfseo-seo-health .health-check-accordion h4.health-check-accordion-heading .dashicons.dashicons-yes-alt {
  color: var(--ymfseo-green);
}
.ymfseo-seo-health .health-check-accordion h4.health-check-accordion-heading .dashicons.dashicons-warning {
  color: var(--ymfseo-yellow);
}
.ymfseo-seo-health .health-check-accordion h4.health-check-accordion-heading .dashicons.dashicons-dismiss {
  color: var(--ymfseo-red);
}
.ymfseo-seo-health .health-check-accordion .health-check-accordion-panel {
  overflow-x: auto;
}

/*# sourceMappingURL=ymfseo.css.map */
