/* Posts columns */
th.manage-column.column-ymfseo {
	width: 40px;

	text-align: center;
}
td.ymfseo.column-ymfseo {
	vertical-align: middle;
}
.column-ymfseo__dot {
	width: 40px;
	height: 40px;

	display: flex;
	align-items: center;
	justify-content: center;

	span {
		background-color: #f0f0f0;
		width: 8px;
		height: 8px;
		border-radius: 50%;

		display: block;

		&.good {
			background-color: #46B450;
		}
		&.bad {
			background-color: #dc3232;
		}
	}
}

/* Meta box */
#ymfseo_fields {
	/* Common */
	> .inside {
		margin-top: 0;
		padding: 16px;

		.ymfseo-box {
			&__page {
				display: flex;
				flex-direction: column;
				gap: 16px;
			}

			details {
				&:not( [ open ] ) + details {
					margin-top: -16px;
				}

				summary {
					margin-bottom: 10px;

					cursor: pointer;

					text-transform: uppercase;
				}
			}
	
			/* Field */
			&__field-box {
				display: flex;
				flex-direction: column;
				gap: 6px;
	
				label {
					font-size: 11px;
					font-weight: 500;
					line-height: 1.4;
					text-transform: uppercase;
					display: inline-block;
				}
				textarea {
					height: auto;
				}
				p {
					margin: 2px 0 0 0;
	
					font-size: 12px;
					color: rgb( 117, 117, 117 );
				}
			}

			/* Checkbox */
			&__check-box {
				display: flex;
				align-items: center;
				gap: 2px;
			}
		}
	}

	/* For Gutenberg */
	&:has( .ymfseo-box_gutenberg ) {
		> .postbox-header {
			h2 {
				padding: 0 16px !important;
	
				font-size: 13px;
			}
		}

		> .inside {
			padding: 5px 16px 16px 16px !important;
		}

		.ymfseo-box {
			&__check-box {
				gap: 10px;
			}
		}
	}
}
.ymfseo-tags-table {
	width: 100%;
    margin: -5px 0;

	border-spacing: 0 4px;
	table-layout: fixed;

	tr {
		td {
			&:first-child {
				display: flex;

				span {
					background-color: #f0f0f0;
					margin-right: 6px;
					padding: 1px 4px 3px 4px;
					border-radius: 4px;

					display: block;
				}
			}
			&:last-child {
				word-wrap: break-word;
			}
		}
	}
}
.postbox-container {
	#side-sortables:has( .ymfseo-box ) {
		#ymfseo_fields {
			> .inside {
				padding: 12px;
			}
		}
	}
}