/* Manage columns */
th.manage-column.column-ymfseo {
  width: 40px;
  text-align: center;
}

td.ymfseo.column-ymfseo {
  vertical-align: middle;
}

.column-ymfseo__dot {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.column-ymfseo__dot span {
  background-color: #f0f0f0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: block;
}
.column-ymfseo__dot span.good {
  background-color: #46B450;
}
.column-ymfseo__dot span.alert {
  background-color: #f56e28;
}
.column-ymfseo__dot span.bad {
  background-color: #dc3232;
}
.column-ymfseo__dot span.noindex {
  background-color: #00a0d2;
}

/* Meta box */
#ymfseo_fields.postbox {
  /* Common */
  /* Gutenberg fix */
}
#ymfseo_fields.postbox > .inside {
  margin-top: 0;
  padding: 16px;
}
#ymfseo_fields.postbox > .inside .ymfseo-box {
  /* Page */
  /* Field */
  /* Checkbox */
}
#ymfseo_fields.postbox > .inside .ymfseo-box__page {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#ymfseo_fields.postbox > .inside .ymfseo-box details:not([open]) + details {
  margin-top: -16px;
}
#ymfseo_fields.postbox > .inside .ymfseo-box details summary {
  margin-bottom: 10px;
  cursor: pointer;
  text-transform: uppercase;
}
#ymfseo_fields.postbox > .inside .ymfseo-box__field-box {
  display: flex;
  flex-direction: column;
  gap: 6px;
  /* Length range */
}
#ymfseo_fields.postbox > .inside .ymfseo-box__field-box label {
  font-size: 11px;
  font-weight: 500;
  line-height: 1.4;
  text-transform: uppercase;
  display: inline-block;
}
#ymfseo_fields.postbox > .inside .ymfseo-box__field-box textarea {
  height: auto;
}
#ymfseo_fields.postbox > .inside .ymfseo-box__field-box p {
  margin: 2px 0 0 0;
  font-size: 12px;
  color: rgb(117, 117, 117);
}
#ymfseo_fields.postbox > .inside .ymfseo-box__field-box-range {
  background-color: rgba(0, 0, 0, 0.2);
  height: 2px;
  position: relative;
}
#ymfseo_fields.postbox > .inside .ymfseo-box__field-box-range::after {
  content: "";
  background-color: #00a0d2;
  width: var(--ymfseo-range-width);
  max-width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}
#ymfseo_fields.postbox > .inside .ymfseo-box__field-box-range.bad::after {
  background-color: #dc3232;
}
#ymfseo_fields.postbox > .inside .ymfseo-box__field-box-range.good::after {
  background-color: #46B450;
}
#ymfseo_fields.postbox > .inside .ymfseo-box__check-box {
  display: flex;
  align-items: center;
  gap: 2px;
}
#ymfseo_fields.postbox:has(.ymfseo-box_gutenberg) > .postbox-header h2 {
  padding: 0 16px !important;
  font-size: 13px;
}
#ymfseo_fields.postbox:has(.ymfseo-box_gutenberg) > .inside {
  padding: 5px 16px 16px 16px !important;
}
#ymfseo_fields.postbox:has(.ymfseo-box_gutenberg) .ymfseo-box__check-box {
  gap: 10px;
}

/* Tags table */
.ymfseo-tags-table {
  display: grid;
  grid-template-columns: max-content 1fr;
  row-gap: 5px;
}
.ymfseo-tags-table > div:nth-child(odd) {
  display: flex;
  align-items: flex-start;
}
.ymfseo-tags-table > div:nth-child(odd) span {
  background-color: #f0f0f0;
  margin-right: 6px;
  padding: 1px 4px 3px 4px;
  border-radius: 4px;
  display: block;
  word-wrap: nowrap;
}
.ymfseo-tags-table > div:nth-child(even) {
  overflow-wrap: anywhere;
}

/* Non-Gutenberg fix */
.postbox-container #side-sortables:has(.ymfseo-box) #ymfseo_fields > .inside {
  padding: 12px;
}/*# sourceMappingURL=ymfseo-style.css.map */